.choiceList button{
    color: black;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.602);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.8s;
    margin: 5px 10px 0px 10px;
    width: 175px;
}
.choiceList button:hover{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.967);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.956);
    transition: 0.8s;
}
.recipesMain {
    padding-top: 100px;
}
.choiceList {
    margin-top: 90px;
    margin-bottom: 30px;
}
.choiceDiv{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 5px;
    margin: 10px 20px 5px 20px;
    height: 180px;
    border: solid 1px black;
    border-radius: 10px;
}
.recipeGrp button:hover{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.967);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.956);
    transition: 0.8s;
}
.renderDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    /* width: 1400px; */
    width: 93%;
    margin-left: 50px;
    margin-right: 40px;
}

.recipeGrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 120px;
    height: 40px;
    justify-content: space-between;
    margin: 10px 10px 10px 5px;
    align-items: center;
}
.recipeGrp button{
    color: black;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.602);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.8s;
    margin: 5px 10px 5px 10px;
    width: 120px;
}

/* RecipeCard */
.recipecard {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #000;
    width: 290px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.recipecard:hover {
    /* background-color: rgba(252, 252, 252, 0.782); */
    background-color: rgba(1, 20, 35, 0.206);
    margin: 0 auto;
    margin-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: 0.5s;
  }
.recipecard img {
    position: relative;
    margin: 10px 0px 5px 10px;
    width: 260px;
    height: 260px;
    border-radius: 5%;
    overflow: hidden;
    align-content: center;
}
.foodbanner{
    position: absolute;
    top: 68px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    z-index: 2;
    /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.617) 0%,
    rgba(74, 74, 74, 0.14887962020745793) 49%
  ); */
}
.space {
    width: 100%;
    height: 150px;
    border: 1px solid #000;
}
.foodslider{
    margin: 0 auto;
    width: 1500px;
    position: relative;
    margin-bottom: 45px;
    transition: 0.5s;
}
.left,
.right {
  position: absolute;
  z-index: 4px;
  width: 25px;
}
.left {
  left: 300px;
  top: 150px;
  
}
.right {
  right: 140px;
  top: 170px;

}
.footer{
    bottom: 0;
    position: fixed;
}

